@charset "UTF-8";
/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	text-decoration: none;
}
:focus, :active { outline: 0 }

ol, ul { list-style: none }

blockquote:before, blockquote:after { content: "" }
blockquote { quotes: "" "" }

header, nav, article, aside, footer, hgroup, section { display: block }

/* Clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* @FONT-FACE */
@font-face {
	font-family: 'Colaborate-RegularRegular';
	src: url('fonts/ColabReg-webfont.eot');
	src: local('☺'), url('fonts/ColabReg-webfont.woff') format('woff'), url('fonts/ColabReg-webfont.ttf') format('truetype'), url('fonts/ColabReg-webfont.svg#webfont') format('svg');
}

@font-face {
	font-family: 'HighlandGothicLightFLFRegular';
	src: url('fonts/HighlandGothicLightFLF-webfont.eot');
	src: local('☺'), url('fonts/HighlandGothicLightFLF-webfont.woff') format('woff'), url('fonts/HighlandGothicLightFLF-webfont.ttf') format('truetype'), url('fonts/HighlandGothicLightFLF-webfont.svg#webfont') format('svg');
}


/* TYPOGRAPHY */
html {
	background-color: #81aeab;
	width: 1920px;
	max-width: 1920px;
	min-width:	960px;
	margin: 0 auto;
}
body {
	width: 80%;
	margin-left: auto; 
	margin-right: auto;
	color: #333;
	font: 16px/18px Corbel, Arial, Helvetica, sans-serif;
	text-align: justify;
}

p { margin-bottom: 30px;
	font: 20px/18px;
	}

strong { font-weight: bold }
em { font-style: italic }

a { color: #940033 }
a:hover { border-bottom: 1px solid #940033 }
a:active { border-bottom: 2px solid #940033 }

h1 { font: 24px/36px Colaborate-RegularRegular, "Trebuchet MS", Arial, Helvetica, sans-serif }





/* Navigation */
nav#global {
	margin: 30px 0 40px;
	width: 100%;
	border-radius: 20px;
	background-color: #970000;
	box-shadow: inset 0 0 15px #900, 0 0 20px #446b6b, inset 0 35px 35px -18px #ca0000;
}
nav#global ul {
	text-align: center;
	height: 45px;
	margin: 0 auto;
	display: table;
}
nav#global ul li { position: relative; display: inline;}
nav#global ul li a {
	font-size: 20px;
	display: block;
	float: left;
	text-transform: uppercase;
	line-height: 40px;
	padding: 0 50px;
	color: #fff;
}
nav#global ul li a:hover {
	border: none;
	box-shadow: inset 0 0 15px #900, inset 0 -35px 35px -18px #ca0000;
}
img#droneimg{	
	border-radius: 15px;
	height:40%;
	width:100%;
	margin: 0 0 50px;
}
nav#global ul li #subMenu {
	position: absolute;
	top: 35px;
	left: -387px;
	background: #970000;
	height: 0;
	z-index: -1;
	border-radius: 15px;
	box-shadow: 0 0 10px #444, inset 0 0 15px #900, inset 0 35px 35px -18px #ca0000;
}
nav#global ul li #subMenu li {
	display: block;
	text-align: center;
	margin: 0 auto;
}
nav#global ul li #subMenu li a {
	height: 0;
	line-height: 0;
	width: 150px;
}
#subMenu li:first-child a {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
#subMenu li:last-child a {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#drones a {
	transition: all 0.3s linear;
}
#drones:hover > #subMenu { z-index: 2 }
#drones:hover > #subMenu li a { height: 40px; line-height: 40px }


/* MAIN */
#content {
	width: 100%;
	margin-right: 30px;
	float: left;
}
article {
	background: #ebe8d9;
	margin: 0 0 30px 0;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 0 10px #629996;
}

article h1 {	
	width: 100%;
	margin-left: 30px;
	height: 40px;
	margin-bottom: 15px;
	line-height: 40px;
	float: left 
}

article p{
		font: 20px/18px Corbel, Arial, Helvetica, sans-serif;
		margin-left: 30px;
		margin-right: 30px;
}
footer p { margin: 0 }


#inTouch li {
	display: block;
	background: #fff;
	margin-bottom: 5px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #d9d4b8;
	border-radius: 5px;
}
#inTouch li span {
	display: block;
	float: left;
	text-align: center;
	width: 70px;
	margin-right: 10px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	color: #fff;
}

.links li {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 5px;
	text-align: left;
	border-bottom: 1px solid #81aeab;
}
.links li:hover { margin-left: 5px }
.links li a:hover { border: none }



/* FOOTER */
section {
	width: 29%;
	float: left;
	margin: 0  0 30px 30px;
	background: #ebe8d9;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 0 10px #629996;
	height:420px;
}
#dronephoto{
	padding-top: 40px;
	height: 80%;
	width:100%;
}
section:first-child { margin-left: 0 }



.copyright {
	text-align: center;
	margin: 10px 0 30px;
	clear: both;
}
*/
